.mybody {
	min-height: 900px;
	padding-top: 70px;
	margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0e1721;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  color: white;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

