<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/css/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>Error</display-name>
		<servlet-name>Error</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.Error</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/Error</url-pattern>
	</servlet-mapping>

<context-param>
		<param-name>configuration</param-name>
		<param-value>deployment</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<filter>
		<filter-name>wicketFilter</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicketFilter</filter-name>
		<url-pattern>/bin/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>HomeRedirector</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.common.HomeRedirectServlet</servlet-class>
		<init-param>
			<param-name>homeUrl</param-name>
			<param-value>bin/</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeRedirector</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
